@font-face {
  font-family: font-menu;
  src: url('../fonts/trajanpro-regular-webfont.woff');
}
header .top-header {
  background-color: #4c4c4c;
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 11px;
  justify-content: center;
}
header .top-header div {
  text-align: left;
  padding: 15px;
  font-family: font-menu;
}
header .top-header div a,
header .top-header div span {
  color: #A2A2A2;
}
header .header-logo {
  background-color: #414042;
  color: white;
  display: flex;
  align-items: center;
  height: 68px;
}
header .header-logo .container .row {
  justify-content: center;
}
header .header-logo .container .row div {
  padding: 10px;
}
header .header-logo .container .row div i {
  font-size: 20px;
}
header .header-logo .container .row div img {
  height: 29px;
}
header .main-menu {
  background-color: #efeae5;
  height: 42px;
}
header .main-menu a {
  float: left;
  display: block;
  color: #8b8b8b;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-family: font-menu;
}
header .main-menu a :hover {
  color: #414042;
}
footer .content-style {
  text-align: center;
  color: #414042;
  text-transform: uppercase;
}
footer .icon-style {
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 10px;
}
footer .contact {
  justify-content: center;
}
footer .contact .contact-content {
  text-align: center;
  color: #414042;
  text-transform: uppercase;
}
footer .contact .icons-contact {
  display: flex;
  justify-content: center;
}
footer .contact .icons-contact .icon-chat {
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 10px;
}
footer .contact .icons-contact .icon-call {
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 10px;
}
footer .contact .icons-contact .icon-email {
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 10px;
}
@font-face {
  font-family: font-menu;
  src: url('../fonts/trajanpro-regular-webfont.woff');
}
header .top-header {
  background-color: #4c4c4c;
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 11px;
  justify-content: center;
}
header .top-header div {
  text-align: left;
  padding: 15px;
}
header .top-header div a,
header .top-header div span {
  color: #A2A2A2;
}
header .header-logo {
  background-color: #414042;
  color: white;
  display: flex;
  align-items: center;
  height: 68px;
}
header .header-logo .container .row {
  justify-content: center;
}
header .header-logo .container .row div {
  padding: 10px;
}
header .header-logo .container .row div i {
  font-size: 20px;
}
header .header-logo .container .row div img {
  height: 29px;
}
header .main-menu {
  background-color: #efeae5;
  height: 42px;
}
header .main-menu a {
  float: left;
  display: block;
  color: #8b8b8b;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-family: font-menu;
}
header .main-menu a :hover {
  color: #414042;
}
