body {
  margin: 0px;
}
@font-face {
  font-family: font-menu;
  src: url('../stay-wildy.ttf');
}
@font-face {
  font-family: font-menu;
  src: url('../fonts/futurastd-light-webfont.ttf');
}
header .top-header {
  color: #A2A2A2;
  overflow: hidden;
  background-color: #4c4c4c;
  font-family: font-menu;
  padding: 10px 10px;
}
@media (max-width: 480px) {
  header .top-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
header .top-header .shipping,
header .top-header .return {
  float: left;
  margin-left: 20px;
}
header .top-header .shipping span,
header .top-header .return span,
header .top-header .shipping a,
header .top-header .return a,
header .top-header .shipping i,
header .top-header .return i {
  color: #A2A2A2;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
header .top-header .shipping span,
header .top-header .return span {
  display: none;
}
@media (max-width: 480px) {
  header .top-header .shipping span,
  header .top-header .return span {
    display: inline;
  }
}
header .top-header .shipping i,
header .top-header .return i {
  display: inline;
}
@media (max-width: 480px) {
  header .top-header .shipping i,
  header .top-header .return i {
    display: none;
  }
}
header .top-header .top-right {
  float: right;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  header .top-header .top-right {
    display: none;
  }
}
header .top-header .top-right div {
  margin-left: 20px;
  float: left;
}
header .top-header .top-right div a {
  color: #A2A2A2;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
@media (max-width: 768px) {
  header .top-header .top-right div .content-icon {
    display: none;
  }
}
header .top-header .top-right .heart,
header .top-header .top-right .bag {
  padding-left: 10px;
  border-left: solid 1px ;
}
header .header-logo {
  background-color: #414042;
  color: white;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-items: center;
}
header .header-logo .left-logo {
  display: flex;
}
header .header-logo .left-logo .menu-mobile i,
header .header-logo .left-logo .search-mobile i {
  font-size: 16px;
  margin-right: 10px;
}
header .header-logo .left-logo .menu-mobile {
  display: none;
}
@media (max-width: 900px) {
  header .header-logo .left-logo .menu-mobile {
    display: inline;
  }
}
header .header-logo .left-logo .search-mobile {
  display: none;
}
@media (max-width: 480px) {
  header .header-logo .left-logo .search-mobile {
    display: inline;
  }
}
header .header-logo .left-logo .menu-desktop .nav-menu-desktop {
  display: inline;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: -15px 0px;
}
@media (max-width: 900px) {
  header .header-logo .left-logo .menu-desktop .nav-menu-desktop {
    display: none;
  }
}
header .header-logo .left-logo .menu-desktop .nav-menu-desktop a {
  float: left;
  color: #a2a2a2;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  font-family: font-menu;
}
header .header-logo .img-logo {
  margin: 0 auto;
}
header .header-logo .img-logo img {
  height: 27px;
}
header .header-logo .right-logo .right-logo-mobile {
  display: none;
}
@media (max-width: 480px) {
  header .header-logo .right-logo .right-logo-mobile {
    display: inline;
  }
}
header .header-logo .right-logo .right-logo-mobile i {
  font-size: 16px;
  margin-left: 10px;
}
header .header-logo .right-logo .search-tablet i {
  color: #A2A2A2;
}
@media (max-width: 768px) {
  header .header-logo .right-logo .search-tablet i {
    display: inline;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  header .header-logo .right-logo .search-tablet i {
    display: none;
  }
}
header .header-logo .right-logo .search-tablet input {
  text-align: right;
  background-color: #414042;
  font-style: italic;
  font-family: font-menu;
  border: none;
  display: inline;
}
@media (max-width: 480px) {
  header .header-logo .right-logo .search-tablet input {
    display: none;
  }
}
@media (min-width: 1024px) {
  header .header-logo .right-logo .search-tablet input {
    border-bottom: solid 1px;
    border-color: #A2A2A2;
    text-align: left;
  }
}
header .main-menu .topnav {
  overflow: hidden;
  background-color: #efeae5;
}
@media (max-width: 768px) {
  header .main-menu .topnav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
header .main-menu .topnav a {
  float: left;
  color: #8b8b8b;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  font-family: font-menu;
}
header .main-menu .topnav a:hover {
  text-decoration: underline;
}
footer .content-style {
  text-align: center;
  color: #414042;
  text-transform: uppercase;
}
footer .icon-style {
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 10px;
}
footer .contact {
  justify-content: center;
}
footer .contact .contact-content {
  text-align: center;
  color: #414042;
  text-transform: uppercase;
}
footer .contact .icons-contact {
  display: flex;
  justify-content: center;
}
footer .contact .icons-contact .icon-chat {
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 10px;
}
footer .contact .icons-contact .icon-call {
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 10px;
}
footer .contact .icons-contact .icon-email {
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 10px;
}
