.icon-heart {
  background: url(https://res.cloudinary.com/glamira/image/upload/c_limit,dpr_1.0,f_auto,fl_lossy,q_auto/skin/frontend/glamira2014/default/images/header_sprites_v4.png) no-repeat;
  background-position: 0 0;
  width: 18px;
  height: 16px;
  display: inline-block;
  background-size: 330px auto;
}
.icon-bag {
  background: url(https://res.cloudinary.com/glamira/image/upload/c_limit,dpr_1.0,f_auto,fl_lossy,q_auto/skin/frontend/glamira2014/default/images/header_sprites_v4.png) no-repeat;
  background-position: 0 -48px;
  width: 18px;
  height: 16px;
  display: inline-block;
  background-size: 330px auto;
}
.icon-search-1 {
  background: url(https://res.cloudinary.com/glamira/image/upload/c_limit,dpr_1.0,f_auto,fl_lossy,q_auto/skin/frontend/glamira2014/default/images/header_sprites_v4.png) no-repeat;
  background-position: -47px 0;
  width: 25px;
  height: 25px;
  background-size: 330px auto;
}
.search {
  color: #A2A2A2;
  text-align: right;
  background-color: #414042;
  font-style: italic;
  font-family: font-menu;
  border: none;
  display: none;
}
body {
  margin: 0px;
}
.container {
  width: 100%;
  margin: 0px auto;
}
@media (min-width: 320px) {
  .container {
    max-width: 95%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@font-face {
  font-family: font-footer;
  src: url('../fonts/OpenSans.ttf');
  src: url('../fonts/OpenSans.eot');
  src: url('../fonts/OpenSans.svg');
  src: url('../fonts/OpenSans.woff');
}
@font-face {
  font-family: font-menu;
  src: url('../fonts/futurastd-light-webfont.ttf');
  src: url('../fonts/futurastd-light-webfont.eot');
  src: url('../fonts/futurastd-light-webfont.svg');
  src: url('../fonts/futurastd-light-webfont.woff');
}
@font-face {
  font-family: font-futurabt-bold;
  src: url('../fonts/FuturaBT-Bold.ttf');
  src: url('../fonts/FuturaBT-Bold.eot');
  src: url('../fonts/FuturaBT-Bold.svg');
  src: url('../fonts/FuturaBT-Bold.woff');
}
@font-face {
  font-family: font-futurabt;
  src: url('../fonts/FuturaBT-Medium.ttf');
  src: url('../fonts/FuturaBT-Medium.eot');
  src: url('../fonts/FuturaBT-Medium.svg');
  src: url('../fonts/FuturaBT-Medium.woff');
}
@font-face {
  font-family: font-main;
  src: url('../fonts/OpenSans.eot');
  src: url('../fonts/OpenSans.ttf');
  src: url('../fonts/OpenSans.svg');
  src: url('../fonts/OpenSans.woff');
}
@font-face {
  font-family: font-gift;
  src: url('../fonts/futurastd-light-webfont.woff2');
}
.topnav {
  overflow: hidden;
  background-color: #efeae5;
}
.topnav a {
  float: left;
  color: #8b8b8b;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}
.topnav a:hover {
  background-color: white;
}
header .top-header {
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (min-width: 320px) {
  header .top-header {
    background-color: #4c4c4c;
  }
}
@media (min-width: 768px) {
  header .top-header {
    background-color: #414143;
    border-bottom: solid 1px;
    border-color: #313133;
  }
}
header .top-header .container .top-left {
  color: #A2A2A2;
  overflow: hidden;
  font-family: font-menu;
}
@media (max-width: 480px) {
  header .top-header .container .top-left {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
header .top-header .container .top-left .shipping {
  margin-right: 20px;
}
header .top-header .container .top-left .shipping .shipping-icon {
  margin-right: 5px;
  background-image: url(https://res.cloudinary.com/glamira/image/upload/c_limit,dpr_1.0,f_auto,fl_lossy,q_auto/skin/frontend/glamira2014/default/images/bg_shipping.png);
  background-repeat: no-repeat;
  background-size: 22px auto;
  background-position: center center;
}
header .top-header .container .top-left .return .return-icon {
  background-image: url(https://res.cloudinary.com/glamira/image/upload/c_limit,dpr_1.0,f_auto,fl_lossy,q_auto/skin/frontend/glamira2014/default/images/bg_return_policy.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 11px auto;
}
header .top-header .container .top-left .shipping,
header .top-header .container .top-left .return {
  float: left;
}
header .top-header .container .top-left .shipping span,
header .top-header .container .top-left .return span,
header .top-header .container .top-left .shipping a,
header .top-header .container .top-left .return a,
header .top-header .container .top-left .shipping i,
header .top-header .container .top-left .return i {
  color: #A2A2A2;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  word-spacing: 1px;
}
header .top-header .container .top-left .shipping .shipping-icon,
header .top-header .container .top-left .return .shipping-icon,
header .top-header .container .top-left .shipping .return-icon,
header .top-header .container .top-left .return .return-icon {
  display: inline;
}
@media (min-width: 768px) {
  header .top-header .container .top-left .shipping .shipping-icon,
  header .top-header .container .top-left .return .shipping-icon,
  header .top-header .container .top-left .shipping .return-icon,
  header .top-header .container .top-left .return .return-icon {
    display: none;
  }
}
header .top-header .container .top-left .shipping i,
header .top-header .container .top-left .return i {
  display: none;
}
@media (min-width: 768px) {
  header .top-header .container .top-left .shipping i,
  header .top-header .container .top-left .return i {
    display: inline;
  }
}
header .top-header .container .top-left .shipping a:hover,
header .top-header .container .top-left .return a:hover {
  color: white;
}
header .top-header .container .top-left .top-right {
  display: none;
  float: right;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  header .top-header .container .top-left .top-right {
    display: inline;
  }
}
header .top-header .container .top-left .top-right div {
  margin-left: 10px;
  float: left;
}
header .top-header .container .top-left .top-right div :hover {
  color: white;
}
header .top-header .container .top-left .top-right div a {
  color: #A2A2A2;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
header .top-header .container .top-left .top-right div .content-icon {
  display: none;
}
@media (min-width: 1024px) {
  header .top-header .container .top-left .top-right div .content-icon {
    display: inline;
  }
}
header .top-header .container .top-left .top-right div .num-icon {
  display: none;
}
@media (min-width: 768px) {
  header .top-header .container .top-left .top-right div .num-icon {
    display: inline;
  }
}
header .top-header .container .top-left .top-right .login {
  display: none;
}
@media (min-width: 768px) {
  header .top-header .container .top-left .top-right .login {
    display: inline;
  }
}
header .top-header .container .top-left .top-right .top-heart,
header .top-header .container .top-left .top-right .login {
  padding-right: 10px;
  border-right: 1px solid;
}
@media (min-width: 768px) {
  header .hr {
    height: 4px;
    width: 100%;
    background-color: #414143;
    border-bottom: solid 1px;
    border-color: #4a4a4b;
  }
}
header .header-logo {
  background-color: #414042;
  color: #fff;
}
header .header-logo .container .header-logo-ingredient {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-items: center;
}
header .header-logo .container .header-logo-ingredient .left-logo {
  width: 35%;
  display: flex;
}
@media (min-width: 1024px) {
  header .header-logo .container .header-logo-ingredient .left-logo {
    width: 45%;
  }
}
header .header-logo .container .header-logo-ingredient .left-logo .menu-mobile,
header .header-logo .container .header-logo-ingredient .left-logo .search-mobile {
  margin-right: 10px;
}
header .header-logo .container .header-logo-ingredient .left-logo .menu-mobile {
  background: url(https://res.cloudinary.com/glamira/image/upload/c_limit,dpr_1.0,f_auto,fl_lossy,q_auto/skin/frontend/glamira2014/default/images/header_sprites_v4.png) no-repeat;
  background-position: 0 -100px;
  width: 25px;
  height: 25px;
  background-size: 275px auto;
}
@media (min-width: 900px) {
  header .header-logo .container .header-logo-ingredient .left-logo .menu-mobile {
    display: none;
  }
}
@media (min-width: 480px) {
  header .header-logo .container .header-logo-ingredient .left-logo .icon-search-1 {
    display: none;
  }
}
header .header-logo .container .header-logo-ingredient .left-logo .menu-desktop .nav-menu-desktop {
  display: none;
}
@media (min-width: 900px) {
  header .header-logo .container .header-logo-ingredient .left-logo .menu-desktop .nav-menu-desktop {
    display: inline;
    padding-top: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .header-logo .container .header-logo-ingredient .left-logo .menu-desktop .nav-menu-desktop .menu-text {
    float: left;
    color: #a2a2a2;
    text-align: center;
    padding-right: 10px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-family: font-menu;
    border-left: solid 1px;
    padding-left: 10px;
  }
  header .header-logo .container .header-logo-ingredient .left-logo .menu-desktop .nav-menu-desktop a:first-child {
    border: none;
    padding-left: 0px;
  }
  header .header-logo .container .header-logo-ingredient .left-logo .menu-desktop .nav-menu-desktop :hover {
    color: white;
  }
  header .header-logo .container .header-logo-ingredient .left-logo .menu-desktop .nav-menu-desktop :visited {
    background-color: #5c5c5c;
  }
}
@media (min-width: 320px) {
  header .header-logo .container .header-logo-ingredient .img-logo img {
    width: 133px;
  }
}
@media (min-width: 768px) {
  header .header-logo .container .header-logo-ingredient .img-logo img {
    width: 218px;
  }
}
header .header-logo .container .header-logo-ingredient .right-logo {
  width: 35%;
  text-align: right;
}
@media (min-width: 1024px) {
  header .header-logo .container .header-logo-ingredient .right-logo {
    width: 45%;
  }
}
header .header-logo .container .header-logo-ingredient .right-logo .right-logo-mobile {
  display: inline;
}
@media (min-width: 480px) {
  header .header-logo .container .header-logo-ingredient .right-logo .right-logo-mobile {
    display: none;
  }
}
header .header-logo .container .header-logo-ingredient .right-logo .right-logo-mobile span {
  margin-left: 10px;
}
header .header-logo .container .header-logo-ingredient .right-logo .search-tablet-desktop .btn-search {
  border: none;
  background-color: #414143;
  display: none;
  color: #A2A2A2;
}
@media (min-width: 480px) {
  header .header-logo .container .header-logo-ingredient .right-logo .search-tablet-desktop .btn-search {
    display: inline;
  }
}
header .header-logo .container .header-logo-ingredient .right-logo .search-tablet-desktop .search-tablet {
  color: #A2A2A2;
  text-align: right;
  background-color: #414042;
  font-style: italic;
  font-family: font-menu;
  border: none;
  display: none;
}
@media (min-width: 480px) {
  header .header-logo .container .header-logo-ingredient .right-logo .search-tablet-desktop .search-tablet {
    display: inline;
  }
}
@media (min-width: 1024px) {
  header .header-logo .container .header-logo-ingredient .right-logo .search-tablet-desktop .search-tablet {
    display: none;
  }
}
header .header-logo .container .header-logo-ingredient .right-logo .search-tablet-desktop .search-desktop {
  color: #A2A2A2;
  text-align: right;
  background-color: #414042;
  font-style: italic;
  font-family: font-menu;
  border: none;
  text-align: left;
  border-bottom: solid 1px;
  display: none;
}
@media (min-width: 1024px) {
  header .header-logo .container .header-logo-ingredient .right-logo .search-tablet-desktop .search-desktop {
    display: inline;
  }
}
header .main-menu {
  overflow: hidden;
  background-color: #efeae5;
}
header .main-menu .container a {
  float: left;
  padding: 10px 0px;
  margin-right: 20px;
  color: #414143;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  font-family: font-menu;
}
@media (min-width: 768px) {
  header .main-menu .container a {
    margin-right: 30px;
  }
}
header .main-menu .container a:hover {
  text-decoration: underline;
}
@media (min-width: 320px) {
  header .main-menu .container .topnav-mobile-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 320px) and (min-width: 900px) {
  header .main-menu .container .topnav-mobile-tablet {
    display: none;
  }
}
header .main-menu .container .topnav-desktop {
  display: none;
}
@media (min-width: 900px) {
  header .main-menu .container .topnav-desktop {
    display: inline;
  }
}
footer {
  color: #838283;
  font-family: font-footer;
}
footer .copyright-footer {
  padding: 10px;
  background-color: #303030;
  text-align: center;
  text-transform: uppercase;
  font-family: font-footer;
}
@media (min-width: 320px) {
  footer .copyright-footer {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  footer .copyright-footer {
    font-size: 16px;
  }
}
footer hr {
  border: 1px solid #f3f3f3;
}
footer .content-style {
  text-align: center;
  text-transform: uppercase;
}
footer .icon-style {
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 11pt;
  margin: 0 10px;
}
@media (min-width: 1024px) {
  footer .footer-mobile-tablet {
    display: none;
  }
}
footer .footer-mobile-tablet .contact {
  justify-content: center;
}
footer .footer-mobile-tablet .contact .contact-content {
  text-align: center;
  text-transform: uppercase;
  color: #414042;
  font-size: 11pt;
  font-weight: bold;
}
footer .footer-mobile-tablet .contact .icons-contact {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 11pt;
}
footer .footer-mobile-tablet .contact .icons-contact .icon-chat,
footer .footer-mobile-tablet .contact .icons-contact .icon-call,
footer .footer-mobile-tablet .contact .icons-contact .icon-email {
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 11pt;
  margin: 0 10px;
}
footer .footer-mobile-tablet .contact .infor-contact {
  text-align: center;
  font-size: 11pt;
  color: #a1a1a1;
}
footer .footer-mobile-tablet .contact .subscribe {
  background-color: #f3f3f3;
  text-align: center;
  padding-bottom: 10px;
}
footer .footer-mobile-tablet .contact .subscribe p {
  text-align: center;
  font-size: 11pt;
  color: #414042;
  font-family: font-footer;
  padding: 10px 10px;
}
footer .footer-mobile-tablet .contact .subscribe .email-subscribe {
  padding: 10px 10px;
  border: none;
  font-family: font-footer;
  width: 50%;
}
footer .footer-mobile-tablet .contact .subscribe button {
  padding: 10px 10px;
  border-radius: 0px;
  text-transform: uppercase;
}
footer .footer-mobile-tablet .box-content {
  background-color: #414042;
  text-transform: uppercase;
  font-family: font-footer;
  color: #fff;
  font-size: 14px;
}
footer .footer-mobile-tablet .box-content .box {
  border-bottom: solid 1px #4c4c4c;
}
footer .footer-mobile-tablet .box-content .box .content {
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .footer-mobile-tablet .box-content .box .content i {
  float: right;
}
@media (min-width: 425px) {
  footer .footer-mobile-tablet .review div,
  footer .footer-mobile-tablet .bottom-footer div,
  footer .footer-mobile-tablet .copyright-footer div {
    text-align: center;
    margin: 0 auto;
  }
}
footer .footer-mobile-tablet .review {
  padding: 10px;
  background-color: #414042;
  font-family: font-footer;
  color: #fff;
  text-align: center;
  font-size: 11px;
}
footer .footer-mobile-tablet .review div {
  margin-top: 10px;
}
footer .footer-mobile-tablet .review .review-title {
  font-size: 13px;
  text-transform: uppercase;
}
footer .footer-mobile-tablet .review .review-stars {
  text-align: center;
}
footer .footer-mobile-tablet .review .review-content {
  color: #aaaaaa;
}
footer .footer-mobile-tablet .review .review-content span {
  color: white;
}
footer .footer-mobile-tablet .review .more-review {
  color: #aaaaaa;
}
footer .footer-mobile-tablet .review .more-review span {
  margin: 20px;
  color: white;
}
footer .footer-mobile-tablet .review a {
  text-decoration: none;
  color: #d9b67c;
}
footer .footer-mobile-tablet .bottom-footer {
  background-color: #414042;
  padding: 10px;
}
footer .footer-mobile-tablet .bottom-footer .clear {
  width: 100px;
  height: 1px;
  background-color: #4c4c4c;
  margin: 10px auto;
}
footer .footer-mobile-tablet .bottom-footer .country-select {
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
footer .footer-mobile-tablet .bottom-footer .country-select .country-flag {
  background: url(https://res.cloudinary.com/glamira/image/upload/c_limit,dpr_1.0,f_auto,fl_lossy,q_auto/skin/frontend/glamira2014/default/images/sprites_country_v25.png) no-repeat;
  background-position: 0 -220px;
  width: 16px;
  height: 10px;
}
footer .footer-mobile-tablet .bottom-footer .country-select .country-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
footer .footer-mobile-tablet .bottom-footer .country-select .country-region {
  text-align: center;
  background-color: #414042;
}
footer .footer-mobile-tablet .bottom-footer .country-select .country-region img {
  width: 70px;
  height: 40px;
}
footer .footer-mobile-tablet .bottom-footer .social-icons,
footer .footer-mobile-tablet .bottom-footer .payment-method {
  text-align: center;
}
footer .footer-mobile-tablet .bottom-footer .social-icons i,
footer .footer-mobile-tablet .bottom-footer .payment-method i {
  font-size: 14px;
  margin: 10px;
  color: white;
}
footer .footer-desktop {
  font-family: font-footer;
  background-color: #414042;
  display: none;
}
@media (min-width: 1024px) {
  footer .footer-desktop {
    display: inline;
  }
}
footer .footer-desktop div {
  background-color: #414042;
  font-size: 13px;
}
footer .footer-desktop .clear {
  width: 1px;
  height: 50px;
  background-color: #4c4c4c;
  margin: auto  30px;
}
footer .footer-desktop .top-footer {
  padding-top: 10px;
  padding-bottom: 20px;
}
footer .footer-desktop .top-footer .container {
  font-family: font-footer;
  display: flex;
  align-items: center;
}
footer .footer-desktop .top-footer .container .social-icons,
footer .footer-desktop .top-footer .container .country-select {
  width: 25%;
  text-align: left;
  text-transform: uppercase;
}
footer .footer-desktop .top-footer .container .social-icons i,
footer .footer-desktop .top-footer .container .country-select i {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}
footer .footer-desktop .top-footer .container .subscribe {
  text-align: left;
}
footer .footer-desktop .top-footer .container .subscribe input {
  color: #aaa;
  background-color: #2d2d2e;
  border: 1px solid #222;
  height: 40px;
  width: 70%;
}
footer .footer-desktop .top-footer .container .subscribe button {
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #a2a2a2;
  height: 40px;
  width: 25%;
  color: #a2a2a2;
}
footer .footer-desktop .top-footer .container .country-select {
  width: 30%;
  float: right;
  text-align: left;
}
footer .footer-desktop .top-footer .container .country-select img {
  vertical-align: middle;
}
footer .footer-desktop .top-footer .container .country-select span {
  padding-left: 15px;
  font-size: 10px;
}
footer .footer-desktop .review-title {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  padding: 10px 0px;
}
footer .footer-desktop .review-footer {
  padding-top: 10px;
  padding-bottom: 20px;
}
footer .footer-desktop .review-footer .container {
  display: flex;
}
footer .footer-desktop .review-footer .container .review-detail,
footer .footer-desktop .review-footer .container .more-review {
  width: 25%;
  margin-right: 15px;
}
footer .footer-desktop .review-footer .container .review-detail {
  text-align: left;
}
footer .footer-desktop .review-footer .container .review-detail .review-stars i {
  color: white;
  font-size: 16px;
}
footer .footer-desktop .review-footer .container .review-detail .review-content {
  font-size: 12px;
}
footer .footer-desktop .review-footer .container .review-detail .review-content span {
  color: white;
}
footer .footer-desktop .review-footer .container .review-detail .review-content a {
  text-decoration: none;
  color: #d9b67c;
}
footer .footer-desktop .review-footer .container .more-review {
  font-size: 12px;
}
footer .footer-desktop .review-footer .container .more-review span {
  color: white;
}
footer .footer-desktop .review-footer .container .more-review a {
  text-decoration: none;
  color: #d9b67c;
}
footer .footer-desktop .content-footer {
  padding-top: 10px;
  padding-bottom: 20px;
}
footer .footer-desktop .content-footer .container {
  display: flex;
}
footer .footer-desktop .content-footer .container .content {
  width: 25%;
  margin-right: 15px;
}
footer .footer-desktop .content-footer .container .content .title-content,
footer .footer-desktop .content-footer .container .content .contact {
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}
footer .footer-desktop .content-footer .container .content ul {
  padding-left: 0px;
}
footer .footer-desktop .content-footer .container .content li {
  list-style: none;
  margin-bottom: 10px;
}
footer .footer-desktop .content-footer .container .content li a,
footer .footer-desktop .content-footer .container .content li p {
  text-decoration: none;
  font-size: 13px;
  color: #aaaaaa;
}
footer .footer-desktop .content-footer .container .content li a .lg-ship,
footer .footer-desktop .content-footer .container .content li p .lg-ship {
  vertical-align: text-top;
}
footer .footer-desktop .content-footer .container .content li a:hover {
  color: #fff;
}
footer .footer-desktop .content-footer .container .content li span {
  color: #727272;
}
footer .payment-method {
  text-align: center;
  color: white;
  padding: 10px;
}
footer .payment-method i {
  margin: 10px;
  font-size: 20px;
}
.landing .banner {
  position: relative;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .landing .banner {
    background-color: #f4f4f4;
  }
}
.landing .banner .banner-top {
  position: relative;
  background-color: #f4f4f4;
}
.landing .banner .banner-top .banner-top-img-mobile,
.landing .banner .banner-top .banner-top-img-mobile {
  width: 100%;
}
.landing .banner .banner-top .banner-top-img-mobile {
  display: inline;
}
@media (min-width: 768px) {
  .landing .banner .banner-top .banner-top-img-mobile {
    display: none;
  }
}
.landing .banner .banner-top .banner-top-img-desktop {
  display: none;
}
@media (min-width: 768px) {
  .landing .banner .banner-top .banner-top-img-desktop {
    display: inline;
  }
}
.landing .banner .banner-top .container .banner-top-text {
  position: absolute;
  width: 50%;
  color: #414042;
  text-align: center;
  margin-right: 0px;
  font-family: font-footer;
  text-transform: uppercase;
  font-size: 20px;
}
.landing .banner .banner-top .container .banner-top-text p {
  font-family: font-futurabt-bold;
  font-size: 15px;
  line-height: normal;
}
@media (min-width: 768px) {
  .landing .banner .banner-top .container .banner-top-text p {
    font-size: 30px;
  }
}
@media (min-width: 320px) {
  .landing .banner .banner-top .container .banner-top-text {
    left: 50%;
    top: 10%;
  }
}
@media (min-width: 768px) {
  .landing .banner .banner-top .container .banner-top-text {
    text-align: left;
    width: 30%;
    left: 60%;
    top: 10%;
    font-size: 38px;
  }
}
@media (min-width: 1024px) {
  .landing .banner .banner-top .container .banner-top-text {
    width: 40%;
    top: 20%;
    left: 50%;
  }
}
.landing .banner .banner-img-mobile,
.landing .banner .banner-img-desktop {
  width: 100%;
}
@media (min-width: 768px) {
  .landing .banner .banner-img-mobile {
    display: none;
  }
}
.landing .banner .banner-img-desktop {
  padding-bottom: 0xp;
  height: 100%;
  display: none;
}
@media (min-width: 768px) {
  .landing .banner .banner-img-desktop {
    display: inline;
  }
}
.landing .banner .container-btn-bot,
.landing .banner .container-btn-top {
  margin: 0px auto;
  width: 100%;
  position: absolute;
}
.landing .banner .container-btn-bot .content-btn,
.landing .banner .container-btn-top .content-btn {
  margin: 0px auto;
  padding-top: 8px;
  padding-bottom: 10px;
  background-color: #e0be86;
  text-transform: uppercase;
  font-family: font-main;
  color: white;
  font-size: 10pt;
  text-align: center;
  border: none;
  width: 250px;
  display: block;
  text-decoration: none;
}
.landing .banner .container-btn-top {
  top: 20px;
}
.landing .banner .container-btn-top .content-btn {
  background-color: #403f41;
}
@media (min-width: 1024px) {
  .landing .banner .container-btn-top {
    top: 30px;
  }
}
.landing .banner .container-btn-bot {
  bottom: 15px;
}
@media (min-width: 1024px) {
  .landing .banner .container-btn-bot {
    bottom: 30px;
  }
}
.landing .container {
  margin: 0px auto;
}
@media (min-width: 768px) {
  .landing .container .shop-with-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .landing .container .shop-list {
    display: grid;
    grid-template-columns: auto auto;
  }
}
.landing .container .shop {
  position: relative;
  margin: 5px auto;
}
@media (min-width: 768px) {
  .landing .container .shop {
    margin: 2px 2px;
  }
}
.landing .container .shop .img-shop img {
  margin: 0px auto;
  display: block;
  width: 100%;
}
.landing .container .shop .btn .content-shop,
.landing .container .shop .btn2 .content-shop {
  margin: 0px auto;
  padding-top: 8px;
  padding-bottom: 10px;
  background-color: #403f41;
  text-transform: uppercase;
  font-family: font-main;
  color: white;
  font-size: 10pt;
  text-align: center;
  border: none;
  width: 250px;
  display: block;
  text-decoration: none;
}
.landing .container .shop .btn2 {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.landing .gift .container {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .landing .gift .container {
    display: flex;
    align-items: center;
  }
}
.landing .gift .container .gift-img {
  width: 50%;
  display: none;
}
.landing .gift .container .gift-img img {
  width: 100%;
}
@media (min-width: 768px) {
  .landing .gift .container .gift-img {
    display: inline;
  }
}
.landing .gift .container .gift-content {
  text-align: center;
  font-family: font-gift;
  color: #e0be86;
}
@media (min-width: 768px) {
  .landing .gift .container .gift-content {
    min-width: 50%;
  }
}
.landing .gift .container .gift-content span {
  text-transform: uppercase;
  color: #414042;
}
.landing .img-father img {
  margin: 0px auto;
  display: block;
  width: 100%;
}
.landing .banner-view-onxy {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
@media (min-width: 320px) {
  .landing .banner-view-onxy .container {
    transform: translate(0px, -100px);
  }
}
@media (min-width: 768px) {
  .landing .banner-view-onxy .container {
    transform: translate(0px, -70px);
  }
}
@media (min-width: 1024px) {
  .landing .banner-view-onxy .container {
    transform: translate(0px, -80px);
  }
}
.product-list .banner {
  background-color: #f3f3f3;
}
.product-list .banner .container .img-text {
  display: flex;
  align-items: center;
  margin: 0px auto;
}
.product-list .banner .container .img-text .banner-img-mobile {
  width: 50%;
}
.product-list .banner .container .img-text .banner-img-mobile img {
  width: 100%;
}
.product-list .banner .container .img-text .banner-text-mobile {
  width: 50%;
}
.product-list .banner .container .img-text .banner-text-mobile p {
  text-align: right;
  font-family: font-futurabt;
  font-size: 8px;
  color: #888787;
}
.product-list .banner .container .img-text .banner-text-mobile p span {
  font-family: font-futurabt-bold;
  text-transform: uppercase;
  font-size: 13pt;
  font-weight: bold;
  color: #414042;
}
.product-list .banner .container .messege {
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: right;
  font-family: font-futurabt;
  font-size: 13px;
  margin-bottom: 13px;
}
.product-list .banner .container .slider {
  margin: 10px;
}
.product-list .banner .container .slider .prod {
  border: solid 1px;
}
