
body{
    margin: 0px;
}
header{
    @font-face{
        font-family: font-menu;
        src: url('../fonts/trajanpro-regular-webfont.woff');
    }
    .top-header{
        .topnav{
            background-color: #4c4c4c;
        display: flex;
        align-items: center;
        // height: 30px;
        font-size: 11px;
        justify-content: center;
            text-align: left;
            padding:15px;
            font-family: font-menu;
            a,span{
                color: #A2A2A2;
                text-decoration: none;

            }
        }
        
   
    }
    .header-logo{
        background-color: #414042;
        color: white;
        display: flex;
        align-items: center;
        // height: 68px;
        .container{
            .row{
                justify-content: center;
                div{
                    padding: 10px;
                    i{
                        font-size: 20px;
                    }
                    img{
                        height: 29px;
                    }
                }
    
            }
        }
    }
    .main-menu{
        .topnav{
            overflow: hidden;
            background-color: #efeae5;
            a{
                float: left;
                color: #8b8b8b;
                text-align: center;
                padding: 10px 10px;
                text-decoration: none;
                font-size: 12px;
                text-transform: uppercase;
            }
            a:hover{
                background-color: white;
            }
        }
    //     background-color: #efeae5;
    //     height: 42px;
    //     a{
    //         float: left;
    //         display: block;
    //         color: #8b8b8b;
    //         text-align: center;
    //         text-transform: uppercase;
    //         text-decoration: none;
    //         
    //         font-family: font-menu;
    //         :hover{
    //             color: #414042;
    //         }
    //     }
    }
}
footer{
    .content-style{
        text-align: center;
        color: #414042;
        text-transform: uppercase;

    }
    .icon-style{
        float: left;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        margin: 0 10px;
    }
    .contact{
        justify-content: center;
        .contact-content{
            .content-style();
        }
        .icons-contact{
            display: flex;
            justify-content: center;
            .icon-chat{
                .icon-style();
            }
            .icon-call{
                .icon-style();
            }
            .icon-email{
                .icon-style();
            }
        }

    }

}