footer {

    hr{
        border:1px solid #f3f3f3 ;
        margin: 0px;
        padding: 0px;
    }

    @font-face {
        font-family: font-footer,;
        src: url('../fonts/OpenSans.woff');
    }

    color: #838283;
    font-family: font-footer;

    .content-style {
        text-align: center;
        text-transform: uppercase;
    }

    .icon-style {
        float: left;
        text-align: center;
        text-transform: uppercase;
        font-size: 11pt;
        margin: 0 10px;
    }



    .contact {
        justify-content: center;

        .contact-content {
            .content-style();
            color: #414042;
            font-size: 11pt;
        }

        .icons-contact {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            font-size: 11pt;
            .icon-chat,
            .icon-call,
            .icon-email {
                .icon-style();
            }
        }

        .infor-contact {
            text-align: center;
            font-size: 11pt;
            color: #a1a1a1;
        }

        .subscribe{
            background-color: #f3f3f3;
            text-align: center;
            padding-bottom: 10px;
            p{
                text-align: center;
                font-size: 11pt;
                color:#414042;
                font-family: font-footer;
                padding: 10px 10px;    
            }
            .email-subscribe{
                padding: 10px 10px; 
                border: none;   
                font-family: font-footer;
                width: 55%;
            }
            button{  
                padding: 10px 10px; 
                width: 230;
                border-radius: 0px;
                text-transform: uppercase;
            }
        }
    }



    .box-content{
        background-color: #414042;
        text-transform: uppercase;
        font-family: font-footer;
        padding: 10px;
        color: #fff;
        font-size: 14px;
        .content{
            padding: 10px 10px;;
            border-bottom: solid 1px #4c4c4c;
            i{
                float: right;
            }
            
        }
    }

    .review{
        div{
            margin-top: 10px;
        }
        padding: 10px;
        background-color: #414042;
        font-family: font-footer;
        color: #fff;
        text-align: center;
        font-size: 11px;
        .review-title{
            font-size: 13px;
            text-transform: uppercase;
        }
        .review-stars{
            text-align: center;
        }
        .review-content{
            span{
                color: white;
            }
            color: #aaaaaa;
            
        }
        .more-review{
            color:  #aaaaaa;
            span{
                margin: 20px;
                color: white;
            }
        }
        a{
            text-decoration: none;
            color: #d9b67c;
        }
    }

    .country-footer {
        .clear{
            width: 20%;
            height: 1px;
            background-color: #4c4c4c;
            margin: 10px auto;
        }
        background-color: #414042;
        padding: 10px;
        
        .country-select{
            text-transform: uppercase;
            text-align: center;
            font-size: 13px;
        }
        // img{
            // float: right;
        // }
        // .country-region{
        //     width: 71px;
        //     height: 40px;
        //     background: url(https://res.cloudinary.com/glamira/image/upload/c_limit,dpr_1.0,f_auto,fl_lossy,q_auto/skin/frontend/glamira2014/default/images/country_region.png) no-repeat;
        //     background-color: #414042;
        //     float: left;
        // }
    }

}   