header{
    @font-face{
        font-family: font-menu;
        src: url('../fonts/futurastd-light-webfont.ttf');
    }
    
    .top-header{
            color: #A2A2A2;
            overflow: hidden;
            background-color:  #414042;
            border-bottom: solid 1px;
            border-color:  #313133;
            @media (max-width:480px)  {
                background-color:#4c4c4c;
                border: none;
            }
            font-family: font-menu;
            padding: 10px 10px;
            
            @media (max-width: 480px){
                display: flex;
                align-items: center;
                justify-content: center;

            }

            .shipping, .return{
                float: left;
                margin-left: 20px;        
                span,a,i{
                    color: #A2A2A2;
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                }
                span{
                    display: none;
                    @media (max-width: 480px){
                        display: inline;
                    }
                }
                i{
                    display: inline;
                    @media (max-width: 480px){
                        display: none;
                    }
                }
                a:hover{
                    color: white;
                }
                
            }
                
            .top-right{
                
                @media (max-width: 480px){
                    display: none;
                }
                float: right;
                text-transform: uppercase;
                div{
                    margin-left: 20px;
                    float: left;
                    a{
                        color: #A2A2A2;
                        text-align: center;
                        text-decoration: none;
                        font-size: 12px;
                    }
                    .content-icon{
                        @media (max-width: 768px){
                            display: none;
                        }
                    }
                    
                }
                .heart, .bag{
                    padding-left: 10px;
                    border-left:solid 1px ;
                    :hover{
                        color: white;
                    }
                    i{
                        color: white;
                    }
                }
                .heart{
                    @media(max-width:650px){
                        border: none;
                    }
                }
                .login{
                    :hover{
                        color: white;
                    }
                    @media(max-width:650px){
                        display: none;
                    }
                }
                
            }
                
    }
    .hr{
        height: 4px;
        width: 100%;
        background-color:  #414143;
        border-bottom: solid 1px;
        border-color: #4a4a4b;
        @media(max-width: 480px){
            display: none;
        }
    }

    .header-logo{
        background-color: #414042;
        color: #a2a2a2;
        padding: 15px 15px;
        display: flex;
        align-items: center;
        justify-items: center;
            .left-logo{
                width: 30%;;
                display: flex;
                .menu-mobile,.search-mobile{
                    i{
                        font-size: 16px;
                        margin-right: 10px;
                    }
                    
                }
                .menu-mobile{
                    @media(max-width: 900px){
                        display: inline;
                    }
                    display: none;
                }
                .search-mobile{
                    display: none;
                    @media (max-width: 480px){
                        display: inline;
                    }
                }
                .menu-desktop{
                    .nav-menu-desktop{
                        padding-top: 30px;
                        display: inline;
                        @media (max-width:900px){
                            display: none;
                        }
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a{
                            float: left;
                            color: #a2a2a2;
                            text-align: center;
                            padding-right: 10px;
                            text-decoration: none;
                            font-size: 13px;
                            text-transform: uppercase;
                            font-family: font-menu;
                        }
                        :hover{
                            color: white;
                        }
                        :visited{
                            background-color: #5c5c5c;
                        }
                    }
                }
            }
            
            .img-logo{
                margin: 0 auto;
                img{
                    height: 27px;
                }
               
            }

            .right-logo{
                width:30%;
                text-align: right;
                .right-logo-mobile{
                    display: none;
                    @media (max-width: 480px){
                        display: inline;
                    }
                    i{
                        font-size: 16px;
                        margin-left: 10px;
                    }
                }
                .search-tablet-desktop{

                    i{
                        @media (max-width:768px) {
                            display: inline;
                            @media (max-width: 480px){
                                display: none;
                            }
                        }
                        color: #A2A2A2;
                    }
                    .search-tablet{
                        text-align: right;
                        background-color: #414042;
                        font-style: italic;
                        font-family: font-menu;
                        border: none;
                        display: inline;
                        @media(max-width: 480px){
                            display: none;
                        }
                        @media(min-width: 1024px){
                            display: none;
                        }
                    }
                    .search-desktop{
                        .search-tablet();
                        border-bottom: solid 1px;
                        border-color:  #A2A2A2;
                        display: none;
                        @media(min-width:1024px){
                            display: inline;
                        }
                    }
                }
            }
        
            
    }
    

    .main-menu{
        padding: 0px 10px;
        overflow: hidden;
        background-color: #efeae5;
        a{
            float: left;
            color: #8b8b8b;
            text-align: center;
            padding: 10px 10px;
            text-decoration: none;
            font-size: 13px;
            text-transform: uppercase;
            font-family: font-menu;
        }
        a:hover{
            text-decoration: underline;
        }
        .topnav-mobile-tablet{
            @media (min-width:900px){
                display: none;
            }
            @media (max-width: 900px){
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }
        .topnav-desktop{
            display: inline;
            @media (max-width:900px){
                display: none;
            }
        }
        
    }
}