header{
    @font-face{
        font-family: font-menu;
        src: url('../fonts/futurastd-light-webfont.ttf');
    }
    
    .top-header{
        background-color:  #4c4c4c;
        @media (min-width:480px)  {
            background-color:#414042;
            border-bottom: solid 1px;
            border-color:  #313133;
        }
        // @media only screen and (min-width: 480px){

        // }
        
        .container{
            color: #A2A2A2;
            overflow: hidden;
            font-family: font-menu;
            padding: 10px 10px;
            @media (max-width: 480px){
                display: flex;
                align-items: center;
                justify-content: center;

            }
            .return{
                margin-left: 20px;
            }
            .shipping, .return{
                float: left;      
                span,a,i{
                    color: #A2A2A2;
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                }
                span{
                    display: inline;
                    @media (min-width: 480px){
                        display: none;
                    }
                }
                i{
                    display: none;
                    @media (min-width: 480px){
                        display: inline;
                    }
                }
                a:hover{
                    color: white;
                }
                
            }
            .top-right{
                display: none;
                @media (min-width: 480px){
                    display: inline;
                }
                float: right;
                text-transform: uppercase;
                div{
                    margin-left: 20px;
                    float: left;
                    a{
                        color: #A2A2A2;
                        text-align: center;
                        text-decoration: none;
                        font-size: 12px;
                    }
                    .content-icon{
                        display: none;
                        @media (min-width: 768px){
                            display: inline;
                        }
                    }
                    
                }
                .heart, .bag{
                    padding-left: 10px;
                    border-left:solid 1px ;
                    :hover{
                        color: white;
                    }
                    i{
                        color: white;
                    }
                }
                .heart{
                        border: none;
                        @media(min-width:640px){
                            border-left:solid 1px;
                        }
                    }
                    
                }
                .login{
                    display: none;
                    
                    @media(min-width:640px){
                        display: inline;
                    }
                    :hover{
                        color: white;
                    }
                }
                
            }
        }
                
    }
    .hr{
        // display: none;
        
        
        @media(min-width: 480px){
            // display: inline;
            height: 4px;
            width: 100%;
            background-color:  #414143;
            border-bottom: solid 1px;
            border-color: #4a4a4b;
        }
    }




    .header-logo{
        background-color: #414042;
        color: #a2a2a2;
        .container{
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-items: center;
            .left-logo{
                width: 35%;
                display: flex;
                .menu-mobile,.search-mobile{
                    i{
                        font-size: 16px;
                        margin-right: 10px;
                    }
                    
                }
                .menu-mobile{
                    display: inline;
                    @media(min-width: 900px){
                        display: none;
                    }
                    
                }
                .search-mobile{
                    display: inline;
                    @media (min-width: 480px){
                        display: none;
                    }
                }
                .menu-desktop{
                    .nav-menu-desktop{
                        display: none;
                        @media (min-width:900px){
                            display: inline;
                            padding-top: 30px;
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            a{
                                float: left;
                                color: #a2a2a2;
                                text-align: center;
                                padding-right: 10px;
                                text-decoration: none;
                                font-size: 13px;
                                text-transform: uppercase;
                                font-family: font-menu;
                            }
                            :hover{
                                color: white;
                            }
                            :visited{
                                background-color: #5c5c5c;
                            }
                        }
                        
                    }
                }
            }

            .img-logo{
                margin: 0 auto;
                img{
                    height: 25px;
                }  
            }

            .right-logo{
                width:35%;
                text-align: right;
                .right-logo-mobile{
                    display: inline;
                    @media (min-width: 480px){
                        display: none;
                    }
                    i{
                        font-size: 16px;
                        margin-left: 10px;
                    }
                }
                input{
                    color:#A2A2A2 ;
                }
                .search-tablet-desktop{

                    i{
                        display: none;
                        @media (min-width:480px) {
                            display: inline;
                            // @media (min-width: 768px){
                            //     display: none;
                            // }
                        }
                        color: #A2A2A2;
                    }
                    .search-tablet{
                        text-align: right;
                        background-color: #414042;
                        font-style: italic;
                        font-family: font-menu;
                        border: none;
                        display: none;
                        @media(min-width: 480px){
                            display: inline;
                        }
                        @media(min-width: 900px){
                            display: none;
                        }
                    }
                    .search-desktop{
                        .search-tablet();
                        text-align: left;
                        border-bottom: solid 1px;
                        border-color:  #A2A2A2;
                        display: none;
                        @media (min-width:480px){
                            display: none;
                        }
                        @media(min-width:900px){
                            display: inline;
                        }
                    }
                }
            }
        }   
    }
    

    .main-menu{
        overflow: hidden;
        background-color: #efeae5;
        .container{
            
            a{
                float: left;
                padding: 10px 0px;
                margin-right: 15px;
                color: #8b8b8b;
                text-align: center;
                text-decoration: none;
                font-size: 13px;
                text-transform: uppercase;
                font-family: font-menu;
            }
            a:hover{
                text-decoration: underline;
            }
            .topnav-mobile-tablet{
                // display: flex;
                // align-items: center;
                // justify-content: center;
                // display: inline;
                // @media (min-width:900px){
                //     display: none;
                // }
                @media (min-width: 320px){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (min-width:900px){
                        display: none;
                    }                
                }
                
            }
            .topnav-desktop{
                display: none;
                @media (min-width:900px){
                    display: inline;
                }
            }
        }
    }
// }