.landing{
    
    .link{
        
        .container{
            padding-top: 9px;
            padding-bottom: 9px;
            a{
                text-transform: uppercase;
                font-family: futura-book;
                text-decoration: none;
                color: #a2a2a2;
                font-size: 10px;
            
        }
        
        }
        display: none;
        @media(min-width:768px){
            display: inline;
        }
        
    }
    .banner{
        @media(min-width:768px){
            background-color: #f4f4f4;
        }

        position: relative;
        margin: 0px auto;
            .banner-top{
                position: relative;
                background-color: #f4f4f4;
                .banner-top-img-mobile,.banner-top-img-mobile{
                    width: 100%;    
                }
                
                .banner-top-img-mobile{
                    display: inline;
                    @media(min-width: 768px){
                        display: none;
                    }
                }
                .banner-top-img-desktop{
                    display: none;
                    @media(min-width:768px){
                        display: inline;
                    }
                }
                .container{
                    .banner-top-text{
                        position: absolute;
                        width: 50%;
                        color: #414042;
                        text-align: center;
                        margin-right: 0px;
                        font-family: font-footer;
                        text-transform: uppercase;
                        font-size: 20px;
                        p{
                            font-family: font-futurabt-bold;
                            font-size: 15px;
                            @media (min-width:768px){
                                font-size: 30px;
                            }
                            line-height: normal;
                            
                        }
                        @media (min-width:320px){
                            left:50%;
                            top:10%;
                        }
                        @media(min-width:768px){
                            text-align: left;
                            width:30%;
                            left:60%;
                            top:10%;
                            font-size: 38px;
                        }
                        @media(min-width: 1024px){
                            width: 40%;
                            top:20%;
                            left: 50%;
                            
                        }
                    }
                }
                
                
            }
        .banner-img-mobile,.banner-img-desktop{
            width: 100%;
        }
        .banner-img-mobile{
            @media(min-width: 768px){
                display: none;
            }
        }
        .banner-img-desktop{
            padding-bottom:0xp;
            height: 100%;
            display: none;
            @media(min-width: 768px){
                display: inline;
            }
        }
    }

    .container{
        .shop-father{
            @media (min-width:768px){
                margin: 30px auto;
                display: grid;
                grid-template-columns: 1fr 1fr;
                // justify-content: center;
                // align-items: center;
            }
            @media (min-width:1024px){
                margin: 63px auto;
            }
            .shop-ring{
                align-items: center;
                .img-ring-mobile,.img-ring-desktop{
                    img{
                        margin: 0px auto;
                        display: block;
                        width: 100%;
                        @media(min-width: 1200px){
                            height: 480px;
                            width: auto;
                        }
                        
                    }
                }
                .img-ring-mobile{
                        margin: 20px auto;
                        display: block;
                        width: 100%;
                        @media(min-width: 768px){
                            display: none;
                        }
                        img{
                            width: 70%;
                        }
                }
                .img-ring-desktop{
                    display: none;
                    @media(min-width: 768px){
                        display: inline;
                        img{
                            @media(min-width: 1200px){
                                margin-top: 80px;
                            }
                            
                        }
                    }
                }
                .btn-ring{
                    a{
                        margin: 0px auto;
                        padding-top: 8px;
                        padding-bottom: 10px;
                        background-color: #403f41;
                        text-transform: uppercase;
                        font-family: font-footer;
                        color: white;
                        font-size: 10pt;
                        text-align: center;
                        border:none;
                        width: 295px;
                        display: block;
                        text-decoration: none;
                        @media(min-width: 1024px){
                            width: 400px;
                            font-size: 20px;
                            padding-top: 10px;
                            margin:55px auto;
                        }
                    }
                    
                }
            }
            .father{
                margin: 10px auto;
                .img-father-mobile{
                    @media(min-width: 768px){
                        display: none;
                    } 
                    img{
                        display: block;
                        width: 100%;
                    }
                }
                .img-father-desktop{
                    display: none;
                    @media(min-width: 768px){
                        display: inline;
                    }
                    
                }
                .img-father-mobile,.img-father-desktop{
                    img{
                        margin: 0px auto;
                        display: block;
                        width: 100%;
                        @media(min-width: 1200px){
                            height: 770px;
                            width: auto;
                        }
                        
                    }
                }
            }
        }
        
        margin: 0px auto;
        
    }
    .banner-30pc{
        .banner-mobile{
            background: url(../images/bg-30pc.png) no-repeat;
            @media(min-width: 768px){
               display: none;
            }
        }
        .banner-mobile{
            // width: 100%;
            background-size: 100% 100%;
            padding-bottom: 10px;
            .text-30pc{
                font-family: font-menu;
                color: #e0e0e0;
                font-size: 16px;
                text-align: center;
                padding-top: 10px;
            }
            .img-30pc{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                .left-img{
                    width: 100%;
                    text-align: right;
                    display: block;
                }
                .right-img{
                    width: 100%;
                    text-align: right;
                    display: block;
                }
            }
            .btn-30pc{
                margin: 10px auto;
                background-color: #e0be86;
                text-align: center;
                text-transform: uppercase;
                padding: 8px;
                width: 295px;
                a{
                    text-decoration: none;
                    color:#fff;
                    font-family: font-footer;
                }
            }
        }
        .banner-tablet{
            @media(min-width: 1024px){
                display: none;
            }
            @media(min-width:768px){
                background: url(../images/bg-30pc-des.png)no-repeat;
                background-size: 100% 100%;
            }
            padding-bottom: 10px;
            .container{
                div{
                    display: none;
                    @media(min-width: 768px){
                        display: inline;
                    }
                    
                }
                .text-30pc{
                    color: #e0e0e0;
                    font-family: font-menu;
                    margin: 0px auto;
                    width: 100%;
                    display: grid;
                    grid-template-columns: auto auto;
                    text-align: center;
                }
                .img-30pc{
                    color: #e0e0e0;
                    font-family: font-menu;
                    margin: 0px auto;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 20% 30% 30% 20%;
                    align-items: center;
                    .right-text{
                        width: 100%;
                        text-align: right;
                    }
                    .left-text{
                        width: 100%;
                        text-align: left;
                    }
                    .ring-left{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                }
                .img-30pc{
                    font-family: font-menu;
                    color: #e0be86;
                    .left-img{
                        img{
                            width: 70%;
                            height: auto;
                        }
                        text-align: right;
                        img{
                            vertical-align: middle;
                        }
                    }
                    .right-img{
                        margin: auto 0px;
                    }
                    .ring-left{
                        margin: auto 0px;
                    }
                }
                .btn-30pc{
                    background-color: #e0be86;
                    font-family: font-menu;
                    text-align: center;
                    margin: 10px auto;
                    width: 295px;
                    display: grid;
                    grid-template-columns: auto;
                    a{
                        text-decoration: none;
                        color:#fff;
                        font-family: font-footer;
                        text-transform: uppercase;
                    }
                }
                
            }
        }
        .banner-desktop{
            @media(min-width:1024px){
                background: url(../images/bg-30pc-des.png)no-repeat;
                background-size: 100% 100%;
                margin-top: 70px;
            }
            // padding-top: 10px;
            .container{
                div{
                    display: none;
                    @media(min-width: 1024px){
                        display: inline;
                    }
                    
                }
                .img-30pc{
                    color: #e0e0e0;
                    font-family: font-menu;
                    margin: 0px auto;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 30% 40% 30%;
                    .middle-img{
                        padding-top: 25px;
                        .top-middle{
                            display: grid;
                            grid-template-columns: 45% 10% 45%;
                            justify-content: center;
                            align-items: center;
                            .left-clear{
                                // position: relative;
                                display: grid;
                                grid-template-columns: 30% 70%;
                                align-items: center;
                                img{
                                    width: 100%;
                                }
                                .left-clear-text{
                                    font-size: 27px;
                                    color:#e0be86;
                                }
                            }
                            .right-clear{
                                font-size: 33px;
                                color:#e0be86;
                            }
                            .clear-ver{
                                margin: 0px auto;
                                width: 4px;
                                height: 100px;
                                background-color: #e0e0e0;
                            }

                        }
                       .bot-middle{
                            width: 100%;
                            margin: 30px auto;
                            display: grid;
                            grid-template-columns: auto;
                           .btn{
                                background-color: #e0be86;
                                text-align: center;
                                text-transform: uppercase;
                                width: 230px;
                                margin: auto;
                                padding: 10px;
                                a{
                                    font-size: 20px;
                                    text-decoration: none;
                                    color:#fff;
                                    font-family: font-footer;
                                }
                           }
                       }

                    }
                    .left-img{
                        display: none;
                        @media (min-width:1024px) {
                            display: inline-flex;
                        }
                        
                        margin: 0px auto;
                        img{
                            margin: auto;
                            max-width: 100%;
                            height: auto;
                        }
                        position: relative;
                        .left-text{
                            position: absolute;
                            right: 0px;
                            top:20px;    
                        }
                    }
                    .right-img{
                        position: relative;
                        img{
                            max-width: 100%;
                            height: auto;
                            float: right;
                        }
                        .right-text{
                            position: absolute;
                            left: 0px;
                            top:20px;    
                        }  
                    }
                }
            }
        }
    }
    .shop-list{
        @media(min-width:768px){
            margin:40px auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        .shop{
            margin-top: 5px;
            @media(min-width: 768px){
                margin: 5px 3px;
            }
            position: relative;
            .img-shop{
                img{
                    width: 100%;
                }
                .img-shop-mobile{
                    background-color: #fbf7f4;
                    @media (min-width:768px){
                        display: none;
                    }
                    
                }

                .img-shop-desktop{
                    background-color: #f4f4f4;
                    display: none;
                    @media (min-width:768px){
                        display: inline;
                    }
                    max-width: 100%;
                }
            }
            
        }
    }
    .banner-view-onxy{
        // .banner{
            img{
                width: 100%;
                display: block;
            }
            .btn-shop-top{
                .btn-shop();
                top:30px;
                @media(min-width:1024px){
                    top:60px;
                }
            }
        // }
        
        width: 100%;
        .container{
            @media(min-width:320px){
                transform: translate(0px,-100px);
            }
            @media(min-width:768px){
                transform: translate(0px,-70px);
            }
            @media(min-width:1024px){
                transform: translate(0px,-80px);
            }
        }
        .gift{
            @media(min-width:768px){
                display: flex;
                align-items: center;
            }
            .gift-content{
                padding: 10px;
                @media(min-width: 768px){
                    width: 50%;
                }
                text-align: center;
                font-family: font-gift;
                font-size: 17px;
                @media(min-width:768px){
                    font-size: 29px;
                }
                span{
                    text-transform: uppercase;
                    color: #414042;
                    font-size: 20px;
                    @media(min-width: 768px){
                        font-size: 34px;
                    }
                }
                color: #e0be86;

            }
            .gift-img{
                width: 50%;
                img{
                    width: 100%;
                }
                display: none;
                @media(min-width: 768px){
                    display: inline;
                }
            }
        }
    }
}