.product-list{
    
    .banner{
        background-color: #f3f3f3;
        // background-color: red;
        .container{
            .img-text{
                display: flex;
                align-items: center;
                margin: 0px auto;
                .banner-img-mobile{
                    width: 50%;
                    img{
                        width: 100%;
                    }
                }
                .banner-text-mobile{
                    width: 50%;
                    
                    p{
                        text-align: right;
                        span{
                            font-family: font-futurabt-bold;
                            text-transform: uppercase;
                            font-size: 13pt;
                            font-weight: bold;
                            color: #414042;
                        }
                        font-family: font-futurabt;
                        font-size: 8px;
                        color: #888787;
                    }
                }
            }
            .messege{
                background-color: #ffffff;
                text-transform: uppercase;
                text-align: right;
                font-family: font-futurabt;
                font-size: 13px;
                margin-bottom:13px;
            }
            .slider{
                margin: 10px;
                .prod{
                    border: solid 1px;
                }
            }
        }
        
    }
}